@font-face {
	font-family: "SuisseIntl-Regular";
	src: url("https://www.arcadiascience.com/fonts/SuisseIntl-Regular.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SuisseIntl-Thin";
	src: url("https://www.arcadiascience.com/fonts/SuisseIntl-Thin.woff2")
		format("woff2");
	font-weight: 100 500;
	font-style: normal;
}

@font-face {
	font-family: "SuisseIntl-ThinItalic";
	src: url("https://www.arcadiascience.com/fonts/SuisseIntl-ThinItalic.woff2")
		format("woff2");
	font-weight: 100 500;
	font-style: italic;
}

@font-face {
	font-family: "SuisseIntlMono";
	src: url("https://www.arcadiascience.com/fonts/SuisseIntlMono.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SuisseWorks-Italic";
	src: url("https://www.arcadiascience.com/fonts/SuisseWorks-Italic.woff2")
		format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SuisseWorks";
	src: url("https://www.arcadiascience.com/fonts/SuisseWorks.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Fonts. */
	--md-text-font: "SuisseIntl-Regular", Roboto, Helvetica, Arial, sans-serif;
	--md-code-font: "SuisseIntlMono", "Roboto Mono", "Liberation Mono", monospace;

	/* Primary color shades. */
	--md-primary-fg-color: #5088c5;
	--md-primary-fg-color--light: #80a8d9;
	--md-primary-fg-color--dark: #20609c;
	--md-primary-bg-color: #ffffff;
	--md-primary-bg-color--light: #f0f0f0;

	/* Accent color shades. */
	--md-accent-fg-color: #5088c5;
	--md-accent-fg-color--transparent: rgba(80, 136, 197, 0.1);
	--md-accent-bg-color: #ffffff;
	--md-accent-bg-color--light: #f0f0f0;
}

.md-grid {
	max-width: 85%;
}

img[alt*="swatch"] {
	width: 250px;
}
