@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* Fonts. */
  --md-text-font:
    "Atkinson Hyperlegible Next", Roboto, Helvetica, Arial, sans-serif;
  --md-code-font:
    "Atkinson Hyperlegible Mono", "Roboto Mono", "Liberation Mono", monospace;

  /* Primary color shades. */
  --md-primary-fg-color: #5088c5;
  --md-primary-fg-color--light: #80a8d9;
  --md-primary-fg-color--dark: #20609c;
  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: #f0f0f0;

  /* Accent color shades. */
  --md-accent-fg-color: #5088c5;
  --md-accent-fg-color--transparent: rgba(80, 136, 197, 0.1);
  --md-accent-bg-color: #ffffff;
  --md-accent-bg-color--light: #f0f0f0;
}

.md-grid {
  max-width: 85%;
}

img[alt*="swatch"] {
  width: 250px;
}
